					<!DOCTYPE html>
					<html>
					<head>
						<meta charset="utf-8">
						<meta name="viewport" content="width=device-width, initial-scale=1">
						<title>Agri</title>
						<link rel="stylesheet" type="text/css" href="template.css">
						<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

					</head>
					<body>
<div class="Container1">
	<div class="child1">
  <div class="box1">
    <div class="menubox">
      <div><button class="menu">menu</button></div>
      <div><button class="terra">terra</button></div>
      <div><button class="contact">Contact <i class="fa-solid fa-angle-right"></i></button></div>
    </div>
    <div class="subcontainer">
      <div class="subchild1">
        <button class="agritech">Agriculture technology</button>
        <br>
        <h1 class="revolt">Revolutionizing agriculture through technology</h1>
        <button class="get">get started <i class="fa-solid fa-angle-right"></i></button>
        <br>
        <div class="girl">
          <div class="imgsec"></div>
          <div class="imgcontent">
            <div><h1>Streamlining farm operations with tech innovations</h1></div>		    	  		
            <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p></div>
          </div>
        </div>
      </div>
      <div class="subchild2">
        <div class="imgsec2">
          <div class="btns"><button class="agri">Agriculture</button></div>
          <div class="btns"><button class="agri">Technology</button></div>
          <div class="btns"><button class="agri">innovations</button></div>
          <div class="btns"><button class="agri">Future</button></div>
          <div class="btns"><button class="agri">AI</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="try">
    <div class="try1">
      <div class="boxy1">
        <div class="outer">
          <div class="girl2">
            <div class="imgsec3">
              <h1 class="revolt">Sustainable Agriculture Solutions: Nurturing Crops, Preserving Resources</h1>
            </div>
            <div class="imgcontent">
              <div><button class="product">Our Products</button></div>	
              <br>	    	  		
              <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p></div>
              <br>
              <div><button class="explore">Explore More <i class="fa-solid fa-angle-right"></i></button></div>
            </div>
          </div>
          <div class="group">
            <div class="girl5">
              <div class="girl5img"></div>
              <div class="girl5content">
                <div><button class="nos">01</button></div>		    	  		
                <div><h3>Precision farming Tools</h3></div>
                <br>
                <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
              </div>
            </div>

            <div class="girl5">
              <div class="girl5img"></div>
              <div class="girl5content">
                <div><button class="nos">02</button></div>		    	  		
                <div><h3>Precision farming Tools</h3></div>
                <br>
                <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="try2">
      <div class="suit2">
        <div class="emptybox"></div>
      </div>
    </div>
  </div>
</div>
						   


<div class="child2">
  <div class="rs1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <!-- rs2 applying flex to parent element -->
  <div class="rhs">
    <div class="rhsbox1">
      <h3>Dive into Our Feature Set</h3>
      <b> <p>Precision Farming &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="plus">+</button></p></b>
      <hr>
      <p>Smart irrigation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="minus">+</button></p>
      <hr>
      <p>Crop Monitoring &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="minus">+</button></p>
      <hr>
      <p>Predictive Analysis &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="minus">+</button></p>
      <hr>
      <p>Mobile Accessibility &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="minus">+</button></p>
    </div>
    <div class="rhsoutline">
      <div class="rhsimg"></div>
      <div class="para"><p class="paras">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut.<p></div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <!-- rhs 3rd box -->
  <div class="rhs3">
    <div class="rhs3outline">
       <div class="rhsoutline">
      <div class="rhsimg"></div>
      <div class="para"><p class="paras">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut.<p></div>
    </div>
    <div class="whitepara">
        <div><button class="agritech">Agriculture Technology</button></div>
         <div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut.<p></div>
          <div> <button class="getstarted">Get Started <i class="fa-solid fa-angle-right"></i></button></div>
      </div>
    </div>

  </div>

</div>


</div>
					       
					</body>
					</html>

